.card{
  width: 50em;
  line-height: normal;
  max-width: 100%;
  padding: 0em 0em 2em 0;
  height: max-content;
  text-align: center;
  align-items: center;
  align-content: center;
}

.quoteCard{
    width: 47em;
    max-width: 100%;
    line-height: normal;
    padding: 2em;
    height: max-content;
    border: 1;
    border-radius: 0.25em;
    text-align: center;
    margin-bottom: 1em;
}
    @media screen and (max-width: 1280px) {

        .quoteCard {
            max-width: calc(100% - 6em);
            padding: 2em;
        }

    }

	@media screen and (max-width: 980px) {
      
        .quoteCard {
            max-width: calc(100% - 8em);
            padding: 1em;
        }

    }  

	@media screen and (max-width: 736px) {

        .quoteCard {
            max-width: calc(100% - 2em);
            padding: 0.5em;
        }
      
	}

	@media screen and (max-width: 360px) {
        .quoteCard{
            max-width: 100%;
            padding: 0.5em;
        }
	}


.gridRow{
    color: #5f5f5f;
    padding: 0em 0.7em;
    border-radius: 0.5em;
    margin: 0.25em auto;
    font-size: 1.1em;
    font-weight: 600;
    background-color: #f5f4f4;
}
.gridRow:hover, .gridRow:active{
    background-color: #dfdfdf;
}

.selectedRow{
    color: #5f5f5f;
    padding: 0em 0.7em;
    border-radius: 0.5em;
    font-size: 1.1em;
    font-weight: 600;
    margin: 0.25em auto;
    background-color: #d8f3dc;
}

.searchButton{
    width: fit-content;
    margin: 1em auto;
    padding: 1em;
    color: #ffffff;
    background-color: #4b4b4b;
    border: 0.1em solid white;
    border-radius: 0.5em;
    font-size: 1.1em;
    font-weight: 600;
}

.searchButton:hover, .searchButton:active{
    font-size: 1.2em;
}
