.App{
  background-color: whitesmoke;
  display: flex;
  height: 100vh;
  position: relative;
}
.container {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.card-container{
  display: inline-block;
  width: max-content;
  padding: 3em;
  position: relative;
}

.card{
  width: max-content;
  line-height: normal;
  min-width: 700px;
  max-width: 900px;
  padding: 20px;
  height: max-content;
  border: 1;
  border-radius: 2%;
  box-shadow: 0px 3px 6px #909091;
  text-align: center;
}
.button-container{
  display: inline-block;
  width: max-content;
}

.quoteText{
  font-family: 'Girassol', cursive;
  font-size: 180%;
  line-height: 1.8;
  color: white;
}

.hint{
  color: white;
}

.copy-button{
  position: absolute;
  right: 5%;
  margin: 1em;
  padding: 1em;
  border-radius: 0.25em;
  border: 2px solid #888888;
  background-color: whitesmoke;
  box-shadow: 2px 2px #888888;
}
.copy-button:hover{
  background-color: #e3eaeb;
}
.copy-button:active{
  background-color: #e3eaeb;
}

/*Footer*/
.footer{
  position: absolute;
  bottom: 0;
  display: flex;
	flex-wrap: wrap;
	width: 100%;
	margin: 0 auto;
  justify-content: center;
}
.footerText{
	padding: 3em 5em 3em 5em ;
	text-align: center;
	font-size: 110%;
	color: #532945;
	font-weight: 600;
}

a:link{
  color: #532945;
  text-decoration: none;
}
a:visited{
  color: #532945;
  text-decoration: none;
}
a:hover{
  color: hotpink;
}
a:active{
  color: hotpink;
}