.App{
  background-color: whitesmoke;
}
.container {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100vh;
}

.card{
  width: max-content;
  min-width: 700px;
  max-width: 900px;
  padding: 20px;
  height: max-content;
  border: 1;
  border-radius: 2%;
  box-shadow: 0px 3px 6px #909091;
  text-align: center;
}

.quoteText{
  font-family: 'Girassol', cursive;
  font-size: 180%;
  line-height: 1.8;
  color: white;
}

.hint{
  color: white;
}